<h1>All Products <%= link_to 'New Product', new_product_path %> </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Import Price</th>
    <th>Export Price</th>
    <th>Stock</th>
    <th>Edit</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.import_price %></td>
      <td><%= product.export_price %></td>
      <td><%= product.stock %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product_path(product),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>


